<hibernate-configuration>

    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost/logiweb</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>

        <property name="connection.username">root</property>
        <property name="connection.password">password </property>
        <property name="connection.pool_size">1</property>
        <property name="current_session_context_class">thread</property>
        <property name="show_sql">true</property>
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>


        <property name="hibernate.hbm2ddl.auto">create-drop</property>

        <property name="hibernate.hbm2ddl.import_files">import.sql</property>

        <!--<mapping resource="logic/Cargo.hbm.xml"/>-->
        <mapping class = "model.Cargo" />
        <mapping class = "model.City" />
        <mapping class = "model.Truck" />
        <mapping class = "model.Driver" />
        <!--<mapping class = "model.Route" />-->
        <!--<mapping class = "model.Order" />-->

    </session-factory>
</hibernate-configuration>